body {

    background-image: url('images/park&Rec.png');
    font-family: 'Old Standard TT', serif;
    background-size: cover;
    background-repeat: repeat;
    

}

.container {

    border: 1px solid black;
    width: 80%;
    background-color: transparent white;
    display: flex center;

}